<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CNTK.CPUOnly" version="2.7.0" targetFramework="net472" />
  <package id="CNTK.Deps.MKL" version="2.7.0" targetFramework="net472" />
  <package id="CNTK.Deps.OpenCV.Zip" version="2.7.0" targetFramework="net472" />
  <package id="Keras.NET" version="3.6.1.11" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.6.1.9" targetFramework="net472" />
  <package id="python" version="3.6.0" targetFramework="net472" />
  <package id="Python.Runtime.NETStandard" version="3.6.1" targetFramework="net472" />
  <package id="Python36" version="3.6.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>